{% extends 'myapp/base.html' %}

{% block title %}
<title>注册/登录</title>
{% endblock %}
{% block navsign %}
<div class="products-breadcrumb">
	<div class="container">
		<ul>
			<li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
			<li>Sign In & Sign Up</li>
		</ul>
	</div>
</div>
{% endblock %}
{% block banner %}
<div class="w3l_banner_nav_left">
	<nav class="navbar nav_bottom">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header nav_2">
			<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div> 
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
			<ul class="nav navbar-nav nav_1">
				<li><a href="products.html">Branded Foods</a></li>
				<li><a href="household.html">Households</a></li>
				<li class="dropdown mega-dropdown active">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Veggies & Fruits<span class="caret"></span></a>				
					<div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
						<div class="w3ls_vegetables">
							<ul>	
								<li><a href="vegetables.html">Vegetables</a></li>
								<li><a href="vegetables.html">Fruits</a></li>
							</ul>
						</div>                  
					</div>				
				</li>
				<li><a href="kitchen.html">Kitchen</a></li>
				<li><a href="short-codes.html">Short Codes</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Beverages<span class="caret"></span></a>
					<div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
						<div class="w3ls_vegetables">
							<ul>
								<li><a href="drinks.html">Soft Drinks</a></li>
								<li><a href="drinks.html">Juices</a></li>
							</ul>
						</div>                  
					</div>	
				</li>
				<li><a href="pet.html">Pet Food</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Frozen Foods<span class="caret"></span></a>
					<div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
						<div class="w3ls_vegetables">
							<ul>
								<li><a href="frozen.html">Frozen Snacks</a></li>
								<li><a href="frozen.html">Frozen Nonveg</a></li>
							</ul>
						</div>                  
					</div>	
				</li>
				<li><a href="bread.html">Bread & Bakery</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>
</div>
{% endblock %}
{% block slider %}
<div class="w3l_banner_nav_right" style="background: white">
	<!-- login -->
	<div class="w3_login">
		<h3>登录和注册</h3>
		<div class="w3_login_module">
			<div class="module form-module">
				<div class="toggle"><i class="fa fa-times fa-pencil"></i>
					<div class="tooltip">点我切换</div>
				</div>
				<div class="form">
					<h2>登录您的账户</h2>
					<form action="{% url 'myapp_login' %}" method="post">
						{% csrf_token %}
						<input type="text" name="name" placeholder="请输入账号" required=" ">
						<input type="password" name="password" placeholder="请输入密码" required=" ">
						<div style="position: relative;">
							<input type="text" name="vcode" required  placeholder="请输入验证码">
							<img src="{% url 'myapp_vcode' %}" onclick="this.src='/myapp/vcode/?'+Math.random()" style="position: absolute;top:10px;right:10px">
						</div>
						<input type="submit" value="登录">
					</form>
				</div>
				<div class="form">
					<h2>注册您的账户</h2>
					<form action="{% url 'myapp_register' %}" method="post">
						{% csrf_token %}
						<input class="regist_name" type="text" name="name" placeholder="请输入最小6位的用户名" required minlength="6">
						<div class="warning" style="position: absolute;top:60px;left: 45px;width: 300px;">
							<span></span>
						</div>
						<input type="password" name="password" placeholder="请输入最小6位的密码" required minlength="6">
						<input class="regist_email" type="email" name="email" placeholder="请输入邮箱xxx@xxx.xx" required=" ">
						<input type="text" name="age" placeholder="请输入您的年龄"  onKeyUp="value=value.replace(/[^\d]/g,'')">
						<input type="text" name="sex" placeholder="请输入您的性别" >
						<input type="text" name="phone" placeholder="请输入11位手机号" required minlength="11" maxlength="12" onKeyUp="value=value.replace(/[^\d]/g,'')">
						<div style="position: relative;">
							<input type="text" name="vcode" required  placeholder="请输入验证码">
							<img src="{% url 'myapp_vcode' %}" onclick="this.src='/myapp/vcode/?'+Math.random()" style="position: absolute;top:10px;right:10px">
						</div>
						<input type="submit" value="注册">
					</form>
					<script type="text/javascript">
						
						$('.regist_name').bind('input porpertychange',function(){
							$('.warning').show()
							var v = $(this).val()
							$.get("{% url 'myapp_testname' %}",{'con':v},function(data){
								
								$('.warning span').html(data['msg'])

							})
							$('.regist_name').blur(function(){
								$('.warning').hide()
							})
						})


					</script>
				</div>

			</div>
			<script>
				$('.toggle').click(function(){
				  // Switches the Icon
				  $(this).children('i').toggleClass('fa-pencil');
				  // Switches the forms  
				  $('.form').animate({
				  	height: "toggle",
				  	'padding-top': 'toggle',
				  	'padding-bottom': 'toggle',
				  	opacity: "toggle"
				  }, "slow");
				});
			</script>
		</div>
	</div>
</div>
<div class="clearfix"> </div>
{% endblock %}

{% block banner_bottom %}


	
{% endblock %}
{% block brands %}


{% endblock %}