{% extends 'myadmin/public/base.html' %}

{% block title %}

<title>会员更新</title>
{% endblock %}
{% block header %}
<div class="row">
	<div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
		<div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 会员更新 <small>admin-add</small></div>
		<p class="page-header-description">更新会员信息</p>
	</div>
	<div class="am-u-lg-3 tpl-index-settings-button">
		<button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>
	</div>
</div>
{% endblock %}


{% block con %}

<div class="widget am-cf" style="margin:0;padding: 0">
	
	<div class="widget-body am-fr">

		<form class="am-form tpl-form-line-form" action="{% url 'myadmin_users_update' %}?uid={{ admin.id }}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}

			<div class="am-form-group">
				<label for="user-name" class="am-u-sm-3 am-form-label">用户名 <span class="tpl-form-line-small-title">Name</span></label>
				<div class="am-u-sm-9">
					<input type="text" class="tpl-form-input am-form-field tpl-form-no-bg" id="user-name" name = "name" placeholder="请输入姓名" required minlength="2"  value="{{ admin.name }}">
					<small>请填写用户名2-5字左右</small>
				</div>
			</div>


			<div class="am-form-group">
				<label for="user-email" class="am-u-sm-3 am-form-label">邮箱 <span class="tpl-form-line-small-title">E-mail</span></label>
				<div class="am-u-sm-9">
					<input type="email" class="am-form-field tpl-form-no-bg" name = "email" placeholder="请输入邮箱"  value="{{ admin.email }}" required >
					<small>标准邮箱格式xxx@xxx.com</small>
				</div>
			</div>
			<div class="am-form-group">
				<label for="user-email" class="am-u-sm-3 am-form-label">手机 <span class="tpl-form-line-small-title">Phone</span></label>
				<div class="am-u-sm-9">
					<input type="text" class="am-form-field tpl-form-no-bg" name = "phone" placeholder="请输入手机号"  value="{{ admin.phone }}" required minlength="11" maxlength="12" onKeyUp="value=value.replace(/[^\d]/g,'')">
					<small>请输入手机号</small>
				</div>
			</div>
			<div class="am-form-group">
				<label for="user-email" class="am-u-sm-3 am-form-label">年龄 <span class="tpl-form-line-small-title">E-mail</span></label>
				<div class="am-u-sm-9">
					<input type="text" class="am-form-field tpl-form-no-bg" name = "age" placeholder="请输入年龄"  value="{{ admin.age }}" required minlength="1" maxlength="3" onKeyUp="value=value.replace(/[^\d]/g,'')">
					<small>请输入年龄</small>
				</div>
			</div>
			<div class="am-form-group">
				<label for="user-email" class="am-u-sm-3 am-form-label">性别 <span class="tpl-form-line-small-title">E-mail</span></label>
				<div class="am-u-sm-9">
					<input type="radio"  name = "sex" value="男" {% if admin.sex == '男' %} checked {% endif %}>男 &nbsp;&nbsp;&nbsp;
					<input type="radio"  name = "sex" value="女" {% if admin.sex == '女' %} checked {% endif %}>女
					
				</div>
			</div>

			<div class="am-form-group">
				<label for="user-weibo" class="am-u-sm-3 am-form-label">头像 <span class="tpl-form-line-small-title">Images</span></label>
				<div class="am-u-sm-9">
					<div class="am-form-group am-form-file">
						<div class="tpl-form-file-img">
							<img src="{{ admin.pic }}" class="img-circle img-thumbnail img-responsive" id="avarimgs" style="width: 120px">
						</div>
						<button  class="am-btn am-btn-danger am-btn-sm">
							<i class="am-icon-cloud-upload"></i> 上传头像</button>

							<input type="file" name="pic" id="xdaTanFileImg" onchange="xmTanUploadImg(this)" accept="image/*">

							<!-- <input id="doc-form-file" type="file" name = "pic"> -->
						</div>

					</div>
				</div>

				

				<div class="am-form-group">
					<div class="am-u-sm-9 am-u-sm-push-3">

						<button  class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">            

//选择图片，马上预览
 function xmTanUploadImg(obj) {
  var file = obj.files[0];               
  
  var reader = new FileReader();
  
  reader.onload = function (e) {
     
  var img = document.getElementById("avarimgs");
      img.src = e.target.result;
   //或者 img.src = this.result;  //e.target == this
  }
      reader.readAsDataURL(file)
  }
</script>
{% endblock %}